/* home style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5vw 8.4vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-transform: uppercase;
}

.header .logo {
    /* font-size: 37px; */
    cursor: pointer;
}

.header .logo img {
    width: 6.5vw;
    height: 79px;
    border-radius: 50%;
}

.header ul {
    display: flex;
    list-style-type: none;
    gap: 5rem;
    font-size: 1.8vw;
    font-weight: 920px;
    letter-spacing: 1.5px;
    cursor: pointer;
    text-shadow: 8px 2px 4px rgba(0,0,0,0.6);
}

.backg {
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}

.forgat{
    text-align: center;
}

.forgat a {
    color: rgb(212, 16, 16);
    text-decoration: none;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: groove;
    border-radius: 20px;
    border-width: 2px;
    background-color: lightblue;
    color: black;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-bottom: 0.7vh;
    margin-bottom: 0.5.vh;
    
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.51);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.51);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.51);
}

.form p {
    text-align: center;
}

.border {
    margin-top: 5px;
}

.border label {
    margin: 2px;
}

.border p {
    font-size: 19px;
    font-weight: 900;
}

#borders {
    border-radius: 10px;
    opacity: 70%;
    color: black;
    text-transform: capitalize;
    margin: 1px;
}


    

#log {
    margin-top: 5px;
    transform: translate(+95%, -10%);
    cursor: pointer;
    border-radius: 20px;
}

button {
    padding: 2px 13px 2px 13px;
}

.backg .glass-wrapper {
    width: 30%;
    height: 100%;
    background: rgba(255, 255, 255, 0.02);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.04);
}

.backg p {
    padding: 30px;
    margin-left: 5px;
}

.norsu {
    margin-top: 120px;
    color: white;
}

.backg h1 {
    color: red;
    padding: 90px;
    margin-top: 35px;
}

.norsu .mission {
    margin-top: -100px;
}

.backg p {
    padding: 30px;
    margin-top: -117px;
    font-size: 20px;
}
